.game-list{
  list-style: none;
  padding: 50px 0;
}

.game-list-item{
  margin: 10px 0;
}

.game-list-item-link{
  padding: 5px 30px;
  border: 1px solid #8ac926;
  border-radius: 100px;
  text-decoration: none;
  color: #8ac926;
  font-size: 3rem;
}

.game-list-item-link:hover{
  color: #231826;
  background-color: #8ac926;
}
