/* Double Trouble game styling */
.game-double-trouble{
  display: flex;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  height: 80vh;
  width: 80vw;
  min-width: 800px;
  min-height: 600px;
  max-width: 1024px;
  color: #8ac926;
}

.game-double-trouble-body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.prepare-for-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-wrapper{
  height: 40%;
  display: flex;
}

.play-button,
.play-button-started,
.play-button-started-end{
  align-self: flex-end;
  height: 120px;
  width: 120px;
  border: 2px solid #8ac926;
  border-radius: 50%;
  position: relative;
  transition: .6s;
  opacity: 1;
  z-index: 2;
}

.animation,
.animation-end{
  align-self: flex-end;
  height: 124px;
  width: 124px;
  border-radius: 50%;
  position: relative;
}

.animation-end{
  height: 154px;
  width: 154px;
  transition: 0s;
}

.play-button{
  cursor: pointer;
}

.play-button-started{
  border-color: #bc96e6;
}

.play-button-started-end{
  border-color: #ffffff;
  color: #ffffff;
  height: 150px;
  width: 150px;
  transition: 0s;
}

.play-button .fa-play,
.time-count-down,
.time-count-down-end{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 34px;
}

.time-count-down,
.time-count-down-end{
  padding-top: 2px;
  color: #bc96e6;  
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  transition: .4s;
}

.time-count-down-end{
  color: #ffffff;
  transition: 0s;
}

.play-button .fa-play{
  width: 34px;
  height: 34px;
}

.play-button .fa-play::before{
  padding-left: 4.25px;
  line-height: 34px;
}

.play-button:hover{
  color: #231826;
  background-color: #8ac926;
}

.start-text{
  padding: 20px 0;
  font-size: 2rem;
  font-weight: 500;
}

.back-to-desc{
  margin-top: 100px;
  color: #ffffff;
  font-size: 1.6rem;
}

/* Aside styling */
.game-double-trouble-aside{
  width: 143px;
  display: flex;
  flex-direction: column;
}

.aside-timer{
  flex-grow: 1;
}

.aside-score{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.aside-sound{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.dark-gradient{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: linear-gradient(#271b2c, #312337);
}

.hidden{
  opacity: 0;
}

.lines-cover,
.lines-cover-end{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 150px;
  width: 150px;
  background-color: #231826;
  border-radius: 100%;
}

.lines-cover-end{
  height: 200px;
  width: 200px;
  transition: 0s;
}

.lines,
.lines-end{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 200px;
  transition: .5s;
}

.lines-end{
  height: 250px;
  width: 250px;
}

.lines-end.no-transition{
  transition: 0s;
}

@media (max-width: 800px){
  .game-double-trouble{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    min-width: auto;
    min-height: auto;
    max-width: 100%;
  }

  .back-to-desc{
    margin-top: 0;
  }
  

  .game-double-trouble-aside{
    width: 100vw;
    flex-direction: row;
    height: 60px
  }

  .aside-timer{
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 60px;
    height: 60px;
  }

  .aside-score{
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 60px;
    height: 60px;
  }

  .aside-sound{
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 60px;
    height: 60px;

  }
}