.wrapper{
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  min-width: 800px;
  max-width: 1024px;
  height: 80vh;
  background-color:  #231826;
  overflow-y: hidden;
}

@media (max-width: 800px) {
  .wrapper{
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: auto;
    max-width: auto;
  }
  
}